body {
  background-color: rosybrown;
  margin: 0;
}

.header {
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 0;
}

.navbar {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
